<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Idle Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label>Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getDeviceDetail(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-item>
    <ion-label>Min Idle Time(Min)</ion-label>
    <ion-input text-right type="number" [(ngModel)]="minTime"></ion-input>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of pData; let i = index">
    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png" />
      </ion-avatar>
      <ion-label>{{ item.Device_Name }}</ion-label>
      <ion-badge item-end color="gpsc">AC Status - {{ item.ac_status}}</ion-badge>
    </ion-item>
    <ion-card-content>
      <ion-row style="padding-top: 12px;">
        <ion-col col-6>
          <p style="color:#53ab53;font-size:11px;font-weight: 350;">
            Start Time
          </p>

        </ion-col>
        <ion-col col-6>
          <p class="para">
            {{item.start_time | date: 'mediumDate'}}, {{item.start_time | date:'shortTime'}}
          </p>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <p style="text-align:left;font-size: 11px;color:red;font-weight:350;">
            End Time
          </p>
        </ion-col>
        <ion-col col-6>
          <p class="para">
            {{item.end_time | date:'mediumDate'}}, {{item.end_time | date:'shortTime'}}
          </p>
        </ion-col>

      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col col-6>
          <p style="text-align:left;font-size: 11px;color:black;font-weight:350;">
            Duration
          </p>
        </ion-col>
        <ion-col col-6>
          <p class="para">
            {{item.duration}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#33c45c; font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
          {{ item.StartLocation }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>